{% extends "AppBlog/abuelo.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block contenido_que_cambia %}

   

</head>
<body>
    <title>Blog IT  </title>

    Ingeniero de Sistemas con experiencia  en el área de Soporte Técnico en medianas y grandes empresas, previsor y con capacidad para la 
    identificación de problemas y búsqueda de soluciones de manera eficaz y óptima.

    Con conocimientos avanzados en computación, manejo de sistemas operativos 
    Software Libre (LINUX, Ubuntu) y Microsoft Windows (XP, Vista, 7, 8, 10, 11, Server), Manejo de Base de Datos PostgrSQL y MySQL, 
    redes, configuración de VPN, DCHP, Servidor Apache, Máquinas Virtuales, conocimientos básicos en programación: C/C++, Php, Javascript, manejo de Css3, Html.

    Experiencia en trato directo al público, atención telefónica, soporte técnico presencial o remoto, ofreciendo siempre un excelente servicio al cliente.


</body>


{% endblock %}
</html>