{% extends "AppBlog/abuelo.html" %}

{% load static %}

{% block titulo %}

{% endblock %}



{% block contenido_que_cambia %}
<h1 class="card-title">Editar Imagen de: {{ tema.titulo }} </h1>



<h3>{{ mensaje }}</h3>

<form action="{% url 'agregarImagen' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

    <table>

        {{ form.as_table }}
    
    </table>

    <input type="submit" class="btn btn-primary btn-sm" value="Agregar Imagen">


</form>


<h2>{{ mensaje }}</h2>
{% endblock %}

