{% extends "AppBlog/abuelo.html" %}

{% load static %}



{% block contenido_que_cambia %}

    



    <h3>Identificador del canal: {{ object.id }}</h3>


    <h3> {{ object.canalmensaje_set_all }}</h3>



    



    <div> id="contenedor_ms" </div>
    {% for mensaje in object.canalmensaje_set.all %}
    
        {% if request.user == mensaje.usuario %}
            <p>
                <strong>
                    {{ mensaje.texto }}
                </strong>
                <span>
                    lo enviaste tu
                </span>
            </p>
        {% else %}
            <p>
                {{ mensaje.texto }}
                <span>
                    {{ mensaje.usuario }}
                </span>
            </p>
        {% endif %}


    {% endfor %}
    <form id="form_submit"  action="{{ request.path }}" method="POST"> {% csrf_token %}

        {{ form.as_p }}

   
   </form>


        



</script>



{% endblock %}
    


