{% extends "AppBlog/abuelo.html" %}

{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detalleTema</title>

</head>
<body>

    {% block titulo_ind %}
    <title>detalleTema</title>
    {% endblock %}
    

{% block contenido_que_cambia %}
<div class="card mb-4">
    <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
    <div class="card-body">


{% if tema %}

<h2>{{ tema.titulo }}</h2>




<li>{{ tema.subtitulo }}</li>
<li>{{ tema.fecha }}</li>
<li>{{ tema.autor }}</li>
<li>{{ tema.cuerpo }}</li>



{% else %}
<h2>NO HAY TEMAS</h2>

{% endif %}
{% endblock %}
</body>
</html>



