{% extends "AppBlog/abuelo.html" %}

{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>

    <h1 class="mb-5">FORMULARIO DE REGISTRO</h1>


{% block contenido_que_cambia %}

<h3>{{ mensaje }}</h3>

<form action="{% url 'register' %}" method="POST"> {% csrf_token %}

    <table>

        {{ form.as_table }}
    
    </table>

    <input type="submit" value="Crear Usuario">




</form>


{% endblock %}
    
</body>
</html>
