<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDITAR TEMA </title>
    <h1>EDITAR TEMA</h1>
    <h1>editando {{ tema }}</h1>
    
{% block contenido_que_cambia %}

<h3>{{ mensaje }}</h3>

    <form action="{% url 'buscar'  %}" method="GET"> 

        <input type="text" name="titulo" id="titulo" placeholder="INSERTE TITULO">

        <input type="submit" value="buscar tema">

    </form>

    {% endblock %}

</head>
<body>
    
</body>
</html>

