{% extends "AppBlog/abuelo.html" %}

{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1 class="mb-5">resultados de la busqueda de temas</h1>
</head>
<body>
{% block contenido_que_cambia %}

{% if temas %}


    <h2 class="card-title">Resultado de temas</h2>

        {% for tema in temas %}

                <h2  class="card-title"><a class="nav-link active" aria-current="page" href="{% url 'leerTemas2' tema.id %}">{{ tema.titulo }}</a></h2>

            <li>{{ tema.fecha }} - {{ tema.autor }} - {{ tema.resumen }}</li>

        {% endfor %}

{% else %}
    <h2>NO HAY TEMAS</h2>

{% endif %}
{% endblock %}
</body>
</html>



