{% extends "AppBlog/abuelo.html" %}

{% load static %}

{% block titulo %}
<h1 class="fw-bolder">LISTADO DE TEMAS </h1>
{% endblock %}



{% block contenido_que_cambia %}


{% for tema in temas %}


<li><h2 class="card-title">{{ tema.titulo }}</h2> {{ tema.fecha }} - {{ tema.categoria }} - {{ tema.contenido }}</li>


<a class="btn btn-danger btn-sm" href="{% url 'eliminarTema' tema.id %}">Eliminar </a>
<a class="btn btn-primary btn-sm" href="{% url 'editarTema' tema.id %}">Editar </a>

{% endfor %}

<h2>{{ mensaje }}</h2>
{% endblock %}



{% block subtitulo %}



{% endblock %}
