{% extends "AppBlog/abuelo.html" %}

{% load static %}





{% block contenido_que_cambia %}
{% block titulo %}

{% endblock %}
<h2 class="card-title">Listado de temas</h2>



    {% for tema in temas %}

        {% if tema is defined  %}

        <h2  class="card-title"><a class="nav-link active" aria-current="page" href="{% url 'leerTemas2' tema.id %}">{{ tema.titulo }}</a></h2>
        
    
        <li>{{ tema.fecha }} - {{ tema.autor }} - {{ tema.subtitulo }}</li>
        <br></br>

        <a class="btn btn-danger btn-sm" href="{% url 'eliminarTema' tema.id %}">Eliminar </a>
        <a class="btn btn-primary btn-sm" href="{% url 'editarTema' tema.id %}">Editar </a>

        {% else %}
        
        <h2 class="card-title"> {{ mensaje }}</h2> 
      
         
        {% endif %}
 
    
    {% endfor %}

    <h2 class="card-title"> {{ mensaje }}</h2> 



<br></br>
<br></br>
<br></br>
<br></br>

<br><a class="btn btn-primary btn-sm" href="{% url 'agregarTema' %}">Agregar Nuevo Tema </a></br>

  




<div class="row">
    <!-- Blog entries-->
    <div class="col-lg-8">
        <!-- Featured blog post-->

        <!-- Nested row for non-featured blog posts-->

                <!-- Blog post-->
                <h3></h3>
                <!-- Blog post-->

        <!-- Pagination-->
        <nav aria-label="Pagination">
            <hr class="my-0" />
            <ul class="pagination justify-content-center my-4">
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                <li class="page-item"><a class="page-link" href="#!">2</a></li>
                <li class="page-item"><a class="page-link" href="#!">3</a></li>
                <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                <li class="page-item"><a class="page-link" href="#!">15</a></li>
                <li class="page-item"><a class="page-link" href="#!">Older</a></li> 
            </ul>
        </nav>
    </div>
    <!-- Side widgets-->

</div>

{% endblock %}
  


{% block subtitulo %}

{% endblock %}
