{% extends "AppBlog/abuelo.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block contenido_que_cambia %}

 

    <title>Document</title>
    



        {% for resultado in displayusername %}

            {% if resultado %}

        
      
        <h5 class="card-title"><a class="nav-link active" aria-current="page" href="{% url 'detailms' resultado.username %}">{{ resultado.username }}</a></h5>


        

            {% endif %}
 

        {% endfor %}

 

    





{% endblock %}
    
</body>
</html>